.credit-modal {
    .inner {
        li {
            display: flex;
            justify-content: space-around;
            margin-bottom: 1.2rem;
            .label {
                color: black;
                padding-top: 1.4rem;
            }
            select, input {
                width: 78%;
            }

            .button {
                width: 50%;
            }
        }
    }
}
