.infinite {
	.loading-more-bar {
		position : relative;
		.inner {
			display: -webkit-box;
			-webkit-box-orient: horizontal;
			-webkit-box-pack: center;
			-webkit-box-align: center;

			display: box;
			box-orient: horizontal;
			box-pack: center;
			box-align: center;
		}
		text-align: center;
		//padding: 1.6rem 8px;
		height: 54px;
		line-height: 54px;
		width: 100%;
		.text {
			display : inline-block;
		}
	}
}
