.search-modal {
    header {
        .title {
            padding: 0 1.2rem;
            text-align: left;
        }
    }

    .inner {
        padding: 3rem 0;
        input {
            width: 92%;
        }
    }

    footer {
        display: flex;
        justify-content: flex-end;
        .button {
            margin-left: 8px;
        }
    }
}
