.label {
	@extend .s2
	padding: 3px 8px;
	display: inline-block;
	border-radius: 8px;
	color: #fff;
	line-height: 1;

	&.label-blue {
		background-color: $color-blue;
	}
	&.label-red {
		background-color: $color-red;
	}
	&.label-yellow {
		background-color: $color-yellow;
	}
	&.label-black {
		background-color: $color-black;
	}
	&.label-green {
		background-color: $color-green;
	}
}
