.text {
	&.text-blue {
		color: $color-blue;
	}
	&.text-red {
		color: $color-red;
	}
	&.text-yellow {
		color: $color-yellow;
	}
	&.text-black {
		color: $color-black;
	}
	&.text-green {
		color: $color-green;
	}
}
