h1, h2, h3, h4, h5, h6 {
	line-height:1
}
h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 0;
}

.p1 {
	font-size: 4rem;
}

.p2 {
	font-size: 3.6rem;
}

.p3 {
	font-size: 3.2rem;
}

.p4 {
	font-size: 2.8rem;
}

.p5 {
	font-size: 2.4rem;
}

.p6 {
	font-size: 2rem;
}

.s1 {
	font-size: 1.4rem;
}

.s2 {
	line-height 1;
	font-size: 1.2rem;
}

.error-msg {
	color: $color-red;
	@extend .s1;
	margin-top: 12px;
	margin-bottom: 12px;
}
