/**************************************
* A minimalist CSS framework
* https://github.com/milligram/milligram
***************************************/

$color-initial = #fff;
$color-primary = #007FED; // button, link, form-input-border-focus 颜色
$color-secondary = #007FED; // button, link, hover,focus 颜色
$color-tertiary = #f4f5f6; // divider颜色
$color-quaternary = #d1d1d1; // form-input-border颜色

@import "./base";
@import "./button";
@import "./divider";
@import "./form";
@import "./grid";
@import "./link";
@import "./list";
@import "./spacing";
@import "./table";
@import "./typography";
@import "./image";
@import "./utility";
